/* Examples
____________________________________________________________________________________
You can select the type of media query you want to create: maxMin, min or max.
Use predefined variables (device sizes) or simple px / em values.
Keep in mind that the default min and max value is set to 0.
Tip!
You can do something like @include bp( max, $desktop - 1px ) to apply the styling to screensize below the desktop.
____________________________________________________________________________________
---> SCSS to CSS: <----
@include bp( maxMin, $desktop, 600px ) = 
@media only screen and ( max-width: 1280px ) and ( min-width: 600px ){
    content
}
____________________________________________________________________________________
@include bp( min, $phone ) = 
@media only screen and (min-width: 480px ){
    content
}
____________________________________________________________________________________
@include bp( max, 800px ) = 
@media only screen and ( max-width: 800px ){
    content
}
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: lime;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@-webkit-keyframes example {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes example {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

tr {
  width: 100%;
}

td {
  width: calc(40% + 1px);
  height: 10vh;
}

.welcome {
  background-color: #FAECA9;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  left: 0;
  height: calc(12% + 1px);
  width: 60%;
  vertical-align: middle;
}

.time {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(12% - 1px);
  /* Standard */
  top: calc(12% - 1px);
  left: 0;
  height: calc(12% + 1px);
  width: 60%;
  vertical-align: middle;
}

.score1 {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(12% - 1px);
  /* Standard */
  top: calc(12% - 1px);
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  height: calc(6% + 2px);
  width: calc(40% + 1px);
  vertical-align: middle;
}

.score2 {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(18% - 1px);
  /* Standard */
  top: calc(18% - 1px);
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  height: calc(6% + 2px);
  width: calc(40% + 1px);
  vertical-align: middle;
}

.score3 {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(32% - 1px);
  /* Standard */
  top: calc(24% - 1px);
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  height: calc(6% + 2px);
  width: calc(40% + 1px);
  vertical-align: middle;
}

.weather {
  border: 1px solid black;
  background-color: #FAECA9;
  height: calc(6% + 2px);
  width: 100%;
  position: absolute;
  left: 0;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(30% - 2px);
  /* Standard */
  top: calc(30% - 2px);
}

.nowplaying1 {
  border: 1px solid black;
  background-color: #FAECA9;
  height: 35%;
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 12%;
}

.nowplaying2 {
  border: 1px solid black;
  background-color: #FAECA9;
  height: 15%;
  width: 60%;
  position: absolute;
  left: 0;
  bottom: 0%;
}

.upnextmain {
  background-color: #FAECA9;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(12% + 1px);
  padding-top: 4%;
  width: calc(35% + 1px);
  vertical-align: middle;
}

.upnext1 {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  bottom: calc(6% - 2px);
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(35% - 1px);
  /* Standard */
  left: calc(35% - 1px);
  height: calc(6% + 2px);
  width: calc(65% + 1px);
}

.upnext2 {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  bottom: 0%;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(35% - 1px);
  /* Standard */
  left: calc(35% - 1px);
  height: calc(6% + 1px);
  width: calc(65% + 1px);
}

.thehague {
  border: 1px solid black;
  background-color: #FAECA9;
  height: calc(6% + 1px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(36% - 1px);
}

.attendance1 {
  border: 1px solid black;
  background-color: white;
  height: calc(6% + 2px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(42% - 1px);
}

.out {
  border: 1px solid black;
  background-color: #FAECA9;
  height: calc(6% + 1px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(48% - 1px);
}

.attendance2 {
  border: 1px solid black;
  background-color: white;
  height: calc(6% + 2px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(54% - 2px);
}

.amsterdam {
  border: 1px solid black;
  background-color: #FAECA9;
  height: calc(6% + 1px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(60% - 1px);
}

.attendance3 {
  border: 1px solid black;
  background-color: white;
  height: calc(6% + 1px);
  width: calc(40% + 1px);
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  top: calc(66% - 1px);
}

.welcometext {
  position: relative;
  margin-top: 2.5%;
  margin-left: 56px;
  font-size: 3.5rem;
  font-weight: 200;
}

.welcometext2 {
  position: relative;
  margin-top: 5%;
  margin-left: 56px;
  font-size: 6.5rem;
}

.welcometext3 {
  position: relative;
  margin-top: 5%;
  margin-left: 56px;
  font-size: 12rem;
}

.welcometext4 {
  position: relative;
  margin-top: 8%;
  margin-left: 56px;
  font-size: 3.5rem;
  font-weight: 200;
}

.welcometext5 {
  position: relative;
  margin-top: 8%;
  margin-left: 56px;
  font-size: 3.5rem;
}

.welcometext6 {
  position: relative;
  margin-top: 4%;
  margin-left: 56px;
  font-size: 3.5rem;
  font-weight: 200;
}

html {
  background-color: white;
}

body {
  font-family: "IBM Plex Sans", serif;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.dashboard {
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */