/* Examples
____________________________________________________________________________________
You can select the type of media query you want to create: maxMin, min or max.
Use predefined variables (device sizes) or simple px / em values.
Keep in mind that the default min and max value is set to 0.
Tip!
You can do something like @include bp( max, $desktop - 1px ) to apply the styling to screensize below the desktop.
____________________________________________________________________________________
---> SCSS to CSS: <----
@include bp( maxMin, $desktop, 600px ) = 
@media only screen and ( max-width: 1280px ) and ( min-width: 600px ){
    content
}
____________________________________________________________________________________
@include bp( min, $phone ) = 
@media only screen and (min-width: 480px ){
    content
}
____________________________________________________________________________________
@include bp( max, 800px ) = 
@media only screen and ( max-width: 800px ){
    content
}
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: lime;
}

img,
embed,
object,
audio,
video {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@-webkit-keyframes example {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

@keyframes example {
  0% {
    left: -100%;
  }
  40% {
    left: 0;
  }
  100% {
    left: 0;
  }
}

tr {
  width: 100%;
}

td {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  padding-left: 3.5rem;
  padding-right: 20rem;
  width: 400%;
  border: 1px solid black;
}

.welcome {
  background-color: #FAECA9;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  height: 12%;
  width: 60%;
  vertical-align: middle;
}

.time {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(12% - 1px);
  /* Standard */
  top: calc(12% - 1px);
  left: 0;
  height: 12%;
  width: 60%;
  vertical-align: middle;
}

.scores {
  background-color: white;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(12% - 1px);
  /* Standard */
  top: calc(12% - 1px);
  /* Firefox */
  /* WebKit */
  /* Opera */
  left: -o-calc(60% - 1px);
  /* Standard */
  left: calc(60% - 1px);
  height: 25%;
  width: 40%;
  vertical-align: middle;
}

.weather {
  border: 1px solid black;
  background-color: white;
  height: 6%;
  width: 100%;
  position: absolute;
  /* Firefox */
  /* WebKit */
  /* Opera */
  top: -o-calc(37% - 1px);
  /* Standard */
  top: calc(37% - 1px);
}

#calendar {
  top: 60%;
}

.welcometext {
  position: relative;
  margin-top: 2.5%;
  margin-left: 56px;
  font-size: 3.5rem;
  font-weight: 200;
}

.welcometext2 {
  position: relative;
  margin-top: 5%;
  margin-left: 56px;
  font-size: 6.5rem;
}

.welcometext3 {
  position: relative;
  margin-top: 5%;
  margin-left: 56px;
  font-size: 12rem;
}

.weatherwidget-io {
  font-family: "IBM Plex Sans", sans-serif;
}

.weatherwidget-io-frame {
  font-family: "IBM Plex Sans", sans-serif;
}

#weatherwidget-io-frame {
  font-family: "IBM Plex Sans", sans-serif;
}

iframe {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  font-family: "IBM Plex Sans", serif;
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
}

.dashboard {
  width: 1080px;
  height: 1920px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */