html {
  background-color: white;
}

body {
    font-family: "IBM Plex Sans", serif;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    border: 1px solid black;
  }
  
  .dashboard {
    overflow: hidden;
    width: 1080px;
    height: 1920px;
    background-color: #ea5050;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-image: url("../img/bg.jpg");
  }