.welcometext {
    position: relative;
    margin-top: 2.5%;
    margin-left: 56px;
    font-size: 3.5rem;
    font-weight: 200;
  }
  
.welcometext2 {
    position: relative;
    margin-top: 5%;
    margin-left: 56px;
    font-size: 6.5rem;
  }

.welcometext3 {
    position: relative;
    margin-top: 5%;
    margin-left: 56px;
    font-size: 12rem;
  }

.welcometext4 {
    position: relative;
    margin-top: 8%;
    margin-left: 56px;
    font-size: 3.5rem;
    font-weight: 200;
  }

.welcometext5 {
    position: relative;
    margin-top: 8%;
    margin-left: 56px;
    font-size: 3.5rem;
  }

.welcometext6 {
    position: relative;
    margin-top: 4%;
    margin-left: 56px;
    font-size: 3.5rem;
    font-weight: 200;
  }