.welcometext {
    position: relative;
    margin-left: 10%;
    font-size: 3rem;
    font-weight: 200;
  }
  
  .welcometext2 {
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 4rem;
  }

  .welcometext3 {
    position: relative;
    margin: 5% 10% 5% 10%;
    font-size: 12rem;
  }

  .weatherwidget-io {
    font-family: $primary_Font;
  }